@import '../../../../scss/styles';

.item{
    &:not(:last-child){
        margin: .25rem 1rem;
    }
    
    &:first-child{
        margin: .25rem 1rem;
    }

    min-width: 15vw;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    .date{
        color: $white-alpha-50 ;
        font-size: .8rem;
        padding-bottom: .5rem;
    }
    .temp{
        font-weight: 600;
        font-size: 1.15rem;
    }
}