$white-1: #FFFFFF;
$white-alpha-50: #ffffff80;
$white-alpha-10: #ffffff80;
$background-lg:  linear-gradient(197.56deg, #4B6584 0%, #495360 100%);
$background-s:  #66778B;
$black-1:  #333333;
$black-alpha-85:  #333333d9;
$red-1:  #EB5757;
$green-1:  #219653;