.mobile_indicator{
    margin: 1.5rem 3rem 0 3rem;
    &_title{
        font-size: 1.125rem;
    } 
    &_dots{
        padding-top: .25rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        div:not(:last-child){
            margin-right: .4rem;
        }
    }
}