@import '../../../scss/styles';

.listArr{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    overflow-y: hidden;
    overflow-x: scroll;

    // display: block;

    @include for-desktop-up{

    }
}
