@import '../../scss/styles';
.main{
    .title{
        padding: 1rem 0;
    }
    .inputGroup{
        padding: .5rem 0 ;
        &_label{
            display: block;
        }
        &_input{
            margin-top: .5rem;
            display: block;
            width: 100%;
            padding: .25rem .5rem;
            background: $background-s;
            border: none;
            border-radius: .5rem;
            color: $white-1;
            border: .1rem solid $background-s;
            transition: boder .1s ease-in-out;
            outline: none;
            &.false{
                border: .1rem solid $red-1;
            }
            &.true{
                border: .1rem solid $green-1;
            }
        }
    }
    .submitBtn{
        background: $green-1;
        color: $white-1;
        border: none;
        padding: .25rem .5rem;
        border-radius: .5rem;
        width: 25%;
        margin-top: 0rem;
        &:disabled{
            background: darken( $green-1, 5 );
            color: darken( $white-1, 25 );
        }
        &:hover{
            background: darken( $green-1, 2.5 )
        }
        &:active{
            background: darken( $green-1, 10 )
        }
    }
    .errorRes{
        margin: 1rem 0;
        font-size: .8rem;
        color: $red-1;
        height: 2rem;
    }
}

.stateBtns{
    width: 50%;
    border: none;

    padding: .25rem .5rem;
    color: darken($white-1, 50);
    background: lighten($black-1, 5) ;
    cursor: pointer;

    outline: none;
    
    &:disabled{
        color: $white-1;
        cursor: auto;
        background: $black-1;
    }
}