@import '../../../../scss/styles';

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: .5rem 0;
    .date{
        font-size: 1.125rem;
    }
    .weather{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .temp{
            font-size: 0.625rem;
            padding-right: 1rem;
            color: $white-alpha-50;
        }
        .icon{
            img{
                height: 1.75rem;
                width: 1.75rem;
                object-fit: contain;
            }
        }
    }
    @include for-desktop-up {
        padding: 1.25rem 7.5vw;
        .date{
            font-weight: 600;
        }
        .weather{
            .temp{
                font-size: 1rem;
                padding-right: 1.25rem;
                color: $white-alpha-50;
                width: 7.5vw;
            }
            .icon{
                img{
                    height: 2.5rem;
                    width: 2.5rem;
                }
            }
        }
    }
}