@import '../../scss/styles';

.navbar_top{
    // height: 3rem;
    padding: 0 4rem;
    max-height: 10vh;
    height: 7.6vh;

    display: none;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;

    @include for-desktop-up{
        display: flex;
    }

    .title{
        font-weight: 600;
    }

    .links{
        a{
            opacity: 0.5;
            cursor: pointer;
            min-height: 1.5rem;
            transition: opacity .3s ease-in-out;
            img{
                height: 1.5rem;
            }
            &:not(:last-child){
                padding-right: .5rem;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}