@import '../../scss/styles';

.home {
    padding-top: 1rem;
    padding-bottom: 5vh;
    min-height: 90vh;
    .title {
        margin: 0 auto 1.5rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        font-size: 1.125rem;
    }

    @include for-desktop-up {
        min-height: 0;
        padding: 0;
        max-height: 80vh;
        // display: none;
        .title{
            display: none;
        }
    }
}